# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
asn1crypto
attrs
backcall
bleach
ca-certificates
certifi
cffi
chardet
colorama
cryptography
cycler
dbus
decorator
defusedxml
entrypoints
expat
fontconfig
freetype
future
gettext
glib
gst-plugins-base
gstreamer
h2o
icu
idna
importlib_metadata
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
joblib
jpeg
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyterlab
jupyterlab_server
kiwisolver
libblas
libcblas
libffi
libgcc-ng
libgfortran-ng
libiconv
liblapack
libopenblas
libpng
libsodium
libstdcxx-ng
libuuid
libxcb
libxml2
markupsafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
ncurses
notebook
numpy
openssl
pandas
pandoc
pandocfilters
parso
pcre
pexpect
pickleshare
pip
prometheus_client
prompt_toolkit
psutil
pthread-stubs
ptyprocess
pycparser
pygments
pyopenssl
pyparsing
pyqt
pyrsistent
pysocks
python
python-dateutil
pytz
pyzmq
qt
qtconsole
readline
requests
scikit-learn
scipy
send2trash
setuptools
sip
six
shap
sqlite
tabulate
terminado
testpath
tk
tornado
traitlets
urllib3
wcwidth
webencodings
wheel
widgetsnbextension
xorg-libxau
xorg-libxdmcp
xz
zeromq
zipp
zlib
