# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
attrs
backcall
blas
bleach
ca-certificates
certifi
cffi
chardet
colorama
cryptography
cycler
decorator
defusedxml
entrypoints
freetype
future
h2o
icc_rt
icu
idna
importlib_metadata
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
joblib
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
kiwisolver
libblas
libcblas
libclang
liblapack
libpng
libsodium
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
markupsafe
matplotlib
matplotlib-base
mistune=0.8.4
mkl
mkl-service
more-itertools
msys2-conda-epoch
nb_conda_kernels
nbconvert
nbformat
notebook
numpy
openssl
pandas
pandoc
pandocfilters
parso
pickleshare
pip
prometheus_client
prompt_toolkit
psutil
pycparser
pygments
pyopenssl
pyparsing
pyrsistent
pysocks
python
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qt
qtconsole
requests
scikit-learn
shap
scipy
send2trash
setuptools
six
sqlite
tabulate
terminado
testpath
tornado
traitlets
urllib3
vc
vs2015_runtime
wcwidth
webencodings
wheel
widgetsnbextension
win_inet_pton
wincertstore
winpty
zeromq
zipp
zlib
